.cal-display {
    grid-area: display;
}

.btn-item1 {
    grid-area: button1;
}

.btn-item2 {
    grid-area: button2;
}

.btn-item3 {
    grid-area: button3;
}

.btn-item4 {
    grid-area: button4;
}

.btn-item5 {
    grid-area: button5;
}

.calc-grid {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-areas: 'display display display display' 'button1 button1 button1 button1' 'button2 button2 button2 button2' 'button3 button3 button3 button3' 'button4 button4 button4 button4' 'button5 button5 button5 button5';
    grid-gap: 10px;
    grid-column-gap: 50px;
    padding: 10px;
    background-color: blueviolet;
    width: 12%;
    border-radius: 5px;
}

.btn {
    padding: 8px;
    width: 20%;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#calculator {
    text-align: right;
    border: 1pt;
    border-color: black;
    border-style: solid;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}